body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4; /* A light grey background */
    color: #174118;
}

h1 {
    color: #1c2f0d;
}

p {
    line-height: 1.6;
}